// .pivotal-project-list-project-list-item {
//   list-style: none;
// }



#storiesTable {
  color: #757575;
  display: inline-block;
  #storiesTableHeader, #storiesTableBody {
    display:flex;
  }

  #storiesTableBody {
    flex-direction: column;

    .releases {
      display: block;
      width: 100% !important;
      border-top: 1px solid #BDBDBD;
      border-bottom: 1px solid #BDBDBD;
      max-width: none;
      height: auto;
    }
  }

  #storiesTableHeader {
    font-size: 1.2em;
    font-weight: bold;
  }
  .stories-table-header-item {
    word-wrap: break-word;
    border-top: 1px solid #BDBDBD;
    border-left: none;
    border-right: 1px solid #BDBDBD;
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    background-color: #303F9F;
    color: white;

    &:first-of-type {
      border-left: 1px solid #BDBDBD;
    }
    &:last-of-type {
      border-right: 1px solid #BDBDBD;
    }
  }

  .stories-table-column {
    width: 150px;
    max-width: 150px;
    display: inline-block;
    border-left: none;
    border-right: 1px solid #BDBDBD;
    &:first-of-type {
      border-left: none;
    }
    &:last-of-type {
      border-right: none;
    }
  }

  .stories-table-row {
    min-height: 100px;
    height: auto;
    display:block;
    border-bottom: 1px solid #BDBDBD;
    min-width: 150px;
    width: 150px;
    max-width: 150px;

  }

  .stories-table-column-container {
    display:flex;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    max-width: none;
    height: auto !important;
  }

  .release-name-ribbon {
    max-width: none;
    display: block;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-top: 1px solid #BDBDBD;
    background-color: #C5CAE9;
    color: #212121;
    text-align: left;
  }


}
