<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>



<div class="app-component-main-body">
  <app-pivotal-api-key-input></app-pivotal-api-key-input>

  <div style="color: #BDBDBD; ">

      <!-- <ng-template *ngIf="( user | async ); else withoutUser"> -->
          <app-pivotal-project-list *ngIf="( user | async); else withoutUser"></app-pivotal-project-list>
      <!-- </ng-template> -->

      <ng-template #withoutUser>
        <span>Sin usuario</span>
      </ng-template>

  </div>
</div>

