.pivotal-project-list-component-container {
  width: 70%;
  margin: auto;
}

.pivotal-project-list-project-list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.pivotal-project-list-project-list {
  display: inline-block;
}
.pivotal-project-list-button-container {
  // TODO: Fix alignment of buttons
  margin: auto;
  display: flex;
  width: 100%;
}
.pivotal-project-list-button-label {
    // TODO: Fix alignment of buttons
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.pivotal-project-list-button {
   margin-left: auto;
   &:hover {
    background-color:#FF5722;
   }
}
