.pivotal-api-key-input_h2 {
  font-family: Roboto, sans-serif;
}
.pivotal-api-key-input-help-span{
  margin-right: 0;
  user-select: none;


}
.pivotal-api-key-input-help-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pivotalApiTokenInput {
  min-width: 450px;
  width: 50%;
}
.pivotal-api-key-input-form-field-wide {
  min-width: 450px;
  width: 50%;
}
