<h2 class="pivotal-api-key-input_h2"> Hola! Ingresa tu API token de PivotalTracker</h2>

<div class="pivotal-api-key-input-help-container">
  <span class="pivotal-api-key-input-help-span"
  matTooltip="en https://www.pivotaltracker.com/profile, última sección"
  matTooltipPosition="right"
  matTooltipHideDelay=2000>¿De dónde obtengo esto?</span>
</div>


<form class="example-form" [ngStyle]="{ 'display': 'flex', 'width': 'auto', 'flex-direction': 'column' }">
  <div [ngStyle]="{'width': '100%'}">
      <mat-form-field class="pivotal-api-key-input-form-field-wide">
          <input class="pivotalApiTokenInput"
                #pivotalApiTokenInput
                matInput
                placeholder="API token de Pivotal">
        </mat-form-field>
        <button type="submit"
                mat-raised-button color="primary"
                (click)="submitPivotalApiKey($event)"
                (submit)="preventDefaultSubmit($event)">Guardar</button>

  </div>










</form>
