.pivotal-api-key-input_h2 {
  font-family: Roboto, sans-serif;
}
.pivotal-api-key-input-help-span{
  margin-right: 0;
  user-select: none;


}
.pivotal-api-key-input-help-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pivotalApiTokenInput {
  min-width: 450px;
  width: 50%;
}
.pivotal-api-key-input-form-field-wide {
  min-width: 450px;
  width: 50%;
}

#storiesTable {
  #storiesTableHeader, #storiesTableBody {
    display:flex;

    span, div {
      min-width: 150px;
      width: 150px;
      max-width: 150px;
      border: 1px solid red;
    }
    div {
      height: 150px;
    }
  }
  #storiesTableHeader {
    font-size: 1.2em;
    font-weight: bold;
  }

  .stories-table-column {
    width: 150px !important;
    max-width: 150px !important;
    display: inline-block;
  }

  .stories-table-row {

    height: 100px;
    border: 1px solid blue !important;
    display:block;

  }

  .stories-table-column-container {
    display:flex;
    width: 100% !important;
    background-color: red !important;
    border: 1px solid blue;
    max-width: none !important;
    height: auto !important;
  }

  .release-name-ribbon {
    width: 100% !important;
    max-width: none !important;
    display: block !important;
  }


}
